*.gcode filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/preonic/mit.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/example3.JPG filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/customizer.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/print_keycaps_on_their_side.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/features/key_bump.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/hulls/skin.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/typewriter.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/keys.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/cylindrical.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/sideways_cylindrical.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/hulls.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/oem.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/squared_scoop.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/functions.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/rounded_square.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/features/legends.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/dactyl_manuform/4x6.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/oblong.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/60_percent filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/lets_split filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/plate_generation.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/package.json filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/features filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/asa.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/dcs.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/hipro.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/square.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stem_supports.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stem_supports/tines.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/example5.JPG filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_types.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/LICENSE filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/rounded_cherry.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_helpers.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/README.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/grid.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/gherkin filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/planck filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/round-anything filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/sculpted_square.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/example1.JPG filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/sa_ergo.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/LICENSE.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/project_zen/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/mirror.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/TODO.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/so3.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/supports/flared.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/supports/flat.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/welcome.png filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/single_extruder_multimaterial_legends.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/hulls filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/dactyl_manuform filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/dual_legends.png filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/includes.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/layout.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/round-anything/polyround.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stem_supports/brim.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/filled.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/models.rb filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/lists.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stem_supports filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/layout.png filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/expand.rb filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/hulls/hull.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/plate.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/3d_surface.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/yarn.lock filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/project_zen filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/polyhedrons.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/hull.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/customizer_base.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/multimaterial_legend.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/model_base.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/old_spherical.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/features.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/gherkin/gherkin_bump.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/cherry_stabilizer.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/sa.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/trajectory_path.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/choc.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/dsa.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_sizes.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/60_percent/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/dactyl_manuform/4x6_legends.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_transformations.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/preonic/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/linalg.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/regular_polygon.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/alps.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/multimaterial_key_top.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/example4.JPG filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/3d_surface.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/cherry.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/supports.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/TIPS_AND_TRICKS.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/supports/bars.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/examples/legends.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/hulls/linear_extrude.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/g20.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/geodesic_sphere.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/trajectory.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/stems/box_cherry.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/squared_spherical.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/gulpfile.js filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/openscad.rb filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/lets_split/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/planck/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/spline.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/constants.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/morphology.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/se3.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/key_mold.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/README.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/settings.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/assets/example2.JPG filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/spherical.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_features.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/planck/mit.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/CHANGELOG.md filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/features/clearance_check.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/shapes.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/shapes/ISO_enter.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/supports filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/skin.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/regular_polygon.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/gherkin/default.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/dishes/flat.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_layouts.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/cherry.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/dss.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/key_profiles/mt3.scad filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/layouts/preonic filter=lfs diff=lfs merge=lfs -text
OpenSCAD/KeyV2/src/libraries/scad-utils/transformations.scad filter=lfs diff=lfs merge=lfs -text
